.main {
    display: flex;
    padding: 10px;
    margin: 12px;
    position: relative;
    box-shadow: 10px 10px #424950;
}

.icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}



.details_container {
    padding: 5px;
    margin: auto;
    text-align: center;
}

.add2cart_btn {
    background-color: #2c2f2d;
    padding: 3px;
    margin: 3px;
    color: rgb(28, 164, 174);
    border-radius: 25px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px #d4d5d6;
}

.main:hover{
    box-shadow: 2px 2px #1b1c1d;
}