.navigator {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #090909;
}

.navBarLink {
    color: rgb(230, 220, 220);
    text-decoration: none;
    padding: 10px;
}

.navBarLink:hover {
    background-color: #2f2d2d;
    border-radius: 13px;
    border-color: #427777;
    /* border-style: solid; */
}


.dropDownBtn {
    position: relative;
    display: inline-block;
}


.dropDownBtn:hover .dropContent {
    display: block;
    
}

.dropContent {
    display: none;
    background-color: #040405;
    position: fixed;
    text-align: center;
    padding: 25px;
    margin: auto;
    margin-top: 10px;
    z-index: 1;

}

.mainLogo {
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
}
