@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body,
html {
    background-image: url('C:\Users\idana\OneDrive\שולחן העבודה\idanpro\frontend\my-app\image\471f9-16609079272704-1920.avif');
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    background-color: #f1ebeb;
    border-top: solid white;
    border-left: solid white;
    border-right: solid rgb(239, 236, 236);
}           